
.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 200, 200);
  height: 100vh;
  width: 100vw;
}

.topbar {
  height: 40px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  
  min-height: 40px;
  flex-shrink: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;  
}

.topbar label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.left {
  display: flex;
  gap: 16px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.copyBtn {
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}

.main {
  flex: 1;
  display: flex;
  gap: 4px;
}

.src, .output {
  flex: 1;
  background: white;
  padding: 16px;
}

.renderedOutput {
  flex: 1;
  background: white;
  padding: 16px;
  overflow: auto;
}
