
.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 200, 200);
  height: 100vh;
  width: 100vw;
}

.topbar {
  height: 40px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.topbar label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.left {
  display: flex;
  gap: 16px;
}

.right {
  display: flex;
  gap: 16px;
  padding-right: 24px;
}

.main {
  flex: 1;
  display: flex;
  gap: 4px;
}

.src, .output {
  flex: 1;
  background: white;
  padding: 16px;
}

.renderedOutput {
  flex: 1;
  background: white;
  padding: 16px;
  overflow: auto;
}
